<div id="app-popup" [ngClass]="{'open': isOpen, 'confirm': isConfirm, 'iframe': isIframe}" (click)="dismiss($event)">

  <div class="app-popup-container" [ngClass]="options.id">

    <div class="app-popup-close" (click)="close()" *ngIf="options.showClose"></div>

    <div class="app-popup-content">

      <ng-template popup-host></ng-template>

    </div>

    <div class="app-popup-confirm">

      <p class="popup-label-cancel" (click)="cancel()">{{ options.cancelText }}</p>

      <p class="popup-label-confirm" (click)="confirm()">{{ options.confirmText }}</p>

    </div>

  </div>

</div>